.button {
  padding: 10px 14px;
  font-size: 15px;
  line-height: 21px;
  font-family: $futura-pt-heavy;
  color: $color-green;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  border: 2px solid #000000;

  &--offer {
    padding: 10px 34px;
  }

  &--form {
    margin: 0 auto;
    display: block;
    background: #ffffff;
    padding: 10px 19px;
    cursor: pointer;
  }
}
