$pt-sans: "PT Sans", "Arial", sans-serif;
$avenir-next: "Avenir Next Bold", "Arial", sans-serif;
$futura-pt-book: "Futura PT Book", "Arial", sans-serif;
$futura-pt-medium: "Futura PT Medium", "Arial", sans-serif;
$futura-pt-demi: "Futura PT Demi", "Arial", sans-serif;
$futura-pt-heavy: "Futura PT Heavy", "Arial", sans-serif;

$color-black: #111111;
$color-green: #6de793;
$color-white: #ffffff;
